body {
    font-family: "Helvetica Neue", Helvetica, "Open Sans", Georgia;
}

.container-fluid, .container {
    margin: 0 auto !important;
    max-width: 960px !important;
}

p {
    font-family: Georgia;
}

h1 {
    font-family: "Palatino Linotype", Georgia;
    font-weight: normal;
}

h2 {
    color: #555;
    font-family: "Open Sans", Candara, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal;
}

h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Candara, "Open Sans", sans-serif;
}

h3 {
    color: #444;
    font-weight: normal;
}

#navigation {
    margin-bottom: 2em;
}

    #navigation .nav-header {
        font-family: Georgia;
    }

    #navigation .nav-header a {
        color: inherit;
    }
